*{

	margin:0;
	padding:0;
	box-sizing:border-box;

}

:root {

	--primary-color:rgba(91,107,107);
	--secondary-color:rgba(40,44,44);
	--margin-container:10px 0;
	--padding-containers:20px;
	--text-color-primary:#fff;
}

body{

--font-family:Arial, helvetica, sans-serif;

	font-family:var(--font-family);
	color:var(--text-color-primary);

}

section {

	--section-bg:#f1f1f1;
background-color:var(--section-bg, pink);

	padding:var(--padding-containers);

}

section.section-1{

	display:grid;
	grid-template-columns:1fr 1fr 1fr;
}

.box {

--box-border:1px solid var(--secondary-color);
--box-margin:5px;
--box-padding:5px;
--box-shadow:2px 3px 3px var(--secondary-color);
--box-radius:3px;
--box-bg:var(--primary-color);


}

.box {

	border:var(--box-border);
	margin:var(--box-margin);
	padding:var(--box-padding);
	box-shadow:var(--box-shadow);
	border-radius:var(--box-radius);
	background:var(--box-bg);

}

.box h3 {

	padding:var(--box-padding);
}

.box p {

	padding:var(--box-padding);
}

section.section-2 .box {

	margin-bottom:20px;
}

























